---
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import { getCollection, CollectionEntry } from "astro:content";

export async function getStaticPaths(){
    const allPosts = await getCollection("posts")
;

return allPosts.map((post) => ({
    params: {slug: post.slug},
    props: {post},
}));
}

interface Props {
    post: CollectionEntry<"posts">
}

const {post} = Astro.props;

const {Content} = await post.render();

---

<Layout title={post.data.title}>
    
  <section class="h-screen pt-32">
    <article class="prose">
        
        <Content/>
    </article>
  </section> 
</Layout>

<style>
    section {
        display: flex;
        justify-content: center;
        background-color: azure;
    }

    article {
        text-align: center
    }
   
</style>
