---
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths(){
    const allPosts = await getCollection("posts")
;

return allPosts.map((post) => ({
    params: {slug: post.slug},
    props: {post},
}));
}


const {post} = Astro.props;

const {Content} = await post.render();

---

<Layout title={post.data.title}>
    
  <section class="flex justify-center bg-slate-100 h-screen pt-32">
    <article class="prose">
        <Content/>
    </article>
  </section> 
</Layout>

