---
import { CollectionEntry, getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import PostCard from "../../components/PostCard.astro";
import BlogCard from "../../components/BlogCard.astro";

export async function getStaticPaths(){
    const posts = await getCollection('posts');
    }
const allPosts = await getCollection('posts');


interface Props {
    post: CollectionEntry<"posts">

}
const {posts} = Astro.props;

---

<Layout title="Blog">
    <div class="grid grid-cols-3 gap-4 sm:grid-cols-2 lg:grid-cols-3">
        {allPosts.map((posts) => 
            <div class=" bg-green-500 py-4 m-10">
                {posts.data.title}
                <a href={`posts/${posts.slug}`}>Read More</a>
                <img src={posts.data.image}/>
            </div>
        )}
    </div>

    
    
</Layout>
   


 
