---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";


const allBylines = await getCollection("bylines");




---
<Layout title="Published Bylines">
  <section class="flex h-full">

    <div class="w-1/4 bg-slate-100 py-24">
      <ul class="prose bg-slate-100 text-center">
        <h3 class="">Filter by Publisher</h3>
          <li><a href="/tags/tca">Top Class Actions</a></li>
          <li><a href="/tags/patch">Patch.com</a></li>
          <li><a href="/tags/kgun">KGUN ABC</a></li>
          <li><a href="/tags/kfmb">KFMB CBS</a></li>
          <li><a href="/tags/kvoa">KVOA NBC</a></li>
          <li><a href="/tags/kold">KOLD CBS</a></li>
      </ul>
    </div>

    <div class="prose w-3/4 bg-slate-100 p-12">
        {allBylines.map(byline => 
            <h2 class="prose">
              <a href={`/bylines/${byline.slug}`}>{byline.data.title}</a>
            </h2>
            <span class=" font-bold uppercase text-red-900 text-xs">{byline.data.tag}</span>
            <p class="prose">{byline.data.summary}</p>
            <hr class="my-9 border-red-700">
        )}
      </ul>
    </div>
  </section>
</Layout>
  
      
<!-- 
  Arrow SVG:
    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path d="M5 12h14"></path>
      <path d="M12 5l7 7-7 7"></path>
    </svg> 
-->