---
import Layout from "../../layouts/Layout.astro";
import { getCollection, CollectionEntry } from "astro:content";
import Client from "../../components/Client.astro";

export async function getStaticPaths(){
    const allClients = await getCollection("clients")
;

return allClients.map((client) => ({
    params: {slug: client.slug},
    props: {client},
}));
}

interface Props {
    post: CollectionEntry<"clients">
}

const {client} = Astro.props;

const {Content} = await client.render();

---

<Layout title="Case Studies | Brians.Digital">
    <section class="flex justify-center bg-slate-300 h-screen pt-32">
        <article class="prose prose-slate">
            <Content/>
        </article>
    </section>
</Layout>


