---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import Client from "../../components/Client.astro";

import ClientList from "../../components/ClientList.astro";

const allClients = await getCollection("clients");

export async function getStaticPaths(){
    const allClients = await getCollection("clients");
}
---

<Layout title="Brians.Digital | Client Case Studies" >
  <div class="bg-blue-500 text-white font-bold px-4 py-2 rounded">
    Case Studies
  </div>
  
  

  <div class="clientList-wrapper">
    <ClientList clients={allClients} />
  </div>
</Layout>
<style>
  .clientList-wrapper{
    background-color: white;
  }  
  </style>

