---
import Layout from '../../layouts/Layout.astro';
import { getCollection, getEntries } from 'astro:content';

export async function getStaticPaths() {
    
    const allBylines = await getCollection("bylines");
    return [
        {params: 
            {tag: "tca"}, 
            props: {bylines: allBylines}},
        
        {params: {tag: "daily-beast"}, props: {bylines: allBylines}},
        {params: {tag: "kgun"}, props: {bylines: allBylines}},
        {params: {tag: "kfmb"}, props: {bylines: allBylines}},
        {params: {tag: "kvoa"}, props: {bylines: allBylines}},
        {params: {tag: "kold"}, props: {bylines: allBylines}},
        {params: {tag: "tucson-weekly"}, props: {bylines: allBylines}},
        {params: {tag: "patch"}, props: {bylines: allBylines}},
    ]
}

const { tag } = Astro.params;
const { bylines } = Astro.props;
const filtBys = bylines.filter((bylines) => bylines.data.tag?.includes(tag));

---

<Layout title="Byline by Publisher">
    <section class="flex h-full">
        <div class="w-1/4 bg-slate-100 py-24">
            <ul class="prose text-center">
              <h3 class="">Filter by Publisher</h3>
                <li><a href="/tags/tca">Top Class Actions</a></li>
                <li><a href="/tags/patch">Patch.com</a></li>
                <li><a href="/tags/kgun">KGUN ABC</a></li>
                <li><a href="/tags/kfmb">KFMB CBS</a></li>
                <li><a href="/tags/kvoa">KVOA NBC</a></li>
                <li><a href="/tags/kold">KOLD CBS</a></li>
            </ul>
        </div>
        <div class="prose w-3/4 bg-slate-100 p-12">
            <h1>Published in {tag}</h1>
            
                {filtBys.map((bylines) => 
                    <h2 class="prose">
                        <a href=`/bylines/${bylines.slug}`>
                            {bylines.data.title}
                        </a>
                    </h2>
                    <p class="prose">{bylines.data.summary}</p>
                    <hr class="my-9 border-red-700">
                )}
        </div>
    </section>
    
        
        
        
        
        
    
  

</Layout>