---
function getEntry(arg0: string, tag: any) {
throw new Error('Function not implemented.');
}

import { getCollection, CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';



export async function getStaticPaths() {
    
    const allBylines = await Astro.glob('../../content/bylines/*.md');
    return [
        {params: {tag: "tca"}, props: {bylines: allBylines}},
        {params: {tag: "daily-beast"}, props: {bylines: allBylines}},
        {params: {tag: "kgun"}, props: {bylines: allBylines}},
        {params: {tag: "kfmb"}, props: {bylines: allBylines}},
        {params: {tag: "kvoa"}, props: {bylines: allBylines}},
        {params: {tag: "kold"}, props: {bylines: allBylines}},
        {params: {tag: "tucson-weekly"}, props: {bylines: allBylines}},
        {params: {tag: "patch"}, props: {bylines: allBylines}},
    ]
}

const { tag } = Astro.params;
const { bylines } = Astro.props;
const filtBys = bylines.filter((bylines) => bylines.frontmatter.tags?.includes(tag));


---

<Layout title="Byline by Publisher">
    <div class="prose bg-slate-200">
        <h1>Published in {tag}</h1>
        
        <ul>
            {filtBys.map((byline) => 
                <li>
                    <a href="">{byline.data.title}</a>
                </li>
            )}
        </ul>
    </div>
  

</Layout>