---
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
    const allBylines = await Astro.glob('../../content/bylines/*.md');

    return [
        {params: {tag: "tca"}, props: {bylines: allBylines}},
        {params: {tag: "kgun"}, props: {bylines: allBylines}},
        {params: {tag: "kfmb"}, props: {bylines: allBylines}},
        {params: {tag: "kvoa"}, props: {bylines: allBylines}},
        {params: {tag: "kold"}, props: {bylines: allBylines}},
        {params: {tag: "tucson-weekly"}, props: {bylines: allBylines}},
        {params: {tag: "patch"}, props: {bylines: allBylines}},
    ]
    
}

const { tag } = Astro.params;
const { bylines } = Astro.props;
const filtBys = bylines.filter((bylines) => bylines.frontmatter.tags?.includes(tag));
---

<Layout title="Byline by Publisher">
    <div class="prose bg-slate-200 h-screen">
        <h1>Published in {tag}</h1>
        <ul>
            {filtBys.map(byline => (
                <li>
                    <a href={byline.url}>{byline.frontmattter.title}</a>
                </li>
            ))}
        </ul>
    </div>
</Layout>