---
import Layout from '../../layouts/Layout.astro';

import { getCollection, CollectionEntry } from 'astro:content';



export async function getStaticPaths() {
    const taggedBylines = await getCollection('bylines', ({data}) =>{
        return data.tag === data.tag;
    });
    
    const allBylines = await Astro.glob('../../content/bylines/*.md');
    return [
        {params: 
            {tag: "tca"}, 
            props: {bylines: allBylines}},
        
        {params: {tag: "daily-beast"}, props: {bylines: allBylines}},
        {params: {tag: "kgun"}, props: {bylines: allBylines}},
        {params: {tag: "kfmb"}, props: {bylines: allBylines}},
        {params: {tag: "kvoa"}, props: {bylines: allBylines}},
        {params: {tag: "kold"}, props: {bylines: allBylines}},
        {params: {tag: "tucson-weekly"}, props: {bylines: allBylines}},
        {params: {tag: "patch"}, props: {bylines: allBylines}},
    ]
}

const { tag } = Astro.params;
const { bylines } = Astro.props;
const filtBys = bylines.filter((bylines) => bylines.frontmatter.tag?.includes(tag));

---

<Layout title="Byline by Publisher">
    <div class="prose bg-slate-200">
        <h1>Published in {tag}</h1>
        
        <ul>
            {filtBys.map((bylines) => 
                <li>
                    <a href="">{bylines.frontmatter.title}</a>
                </li>
            )}
        </ul>
    </div>
  

</Layout>