<header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 28V0H24V4H28V12H24V16H28V24H24V28H0ZM8 12H20V4H8V12ZM8 24H20V16H8V24Z" fill="#5A82B2"/>
          </svg>
        <span class="ml-3 text-xl">Brians.Digital</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a href="#" class="mr-5 hover:text-white">About Me</a>
        <a href="/clients" class="mr-5 hover:text-white">Case Studies</a>
        <a href="/posts" class="mr-5 hover:text-white">Blog</a>
         <a href="/bylines"class="mr-5 hover:text-white">Bylines</a>
        <!--<a class="mr-5 hover:text-white">Last Night</a>  -->
      </nav>
      <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Let Connect
       
      </button>
    </div>
  </header>