
<div class="relative flex flex-col items-center overflow-hidden py-20 md:py-40 bg-gray-800">
    <div class="container relative z-[1] m-auto px-6 md:px-12">
      <div class="m-auto text-center md:w-8/12 lg:w-6/12">
        <h2 class="text-2xl font-bold text-white md:text-4xl">
          Data-Driven Storyteller and Growth Strategist
        </h2>
        <p>Experienced digital marketer and web developer with a background in journalism.
          I specialize in creating compelling brand narratives, building high-performing websites, and executing data-driven marketing strategies to achieve measurable business growth. </p>
      </div>
      <div class="m-auto mt-16 md:w-11/12 lg:w-8/12 xl:w-7/12">
        <div class="flex  justify-center gap-6">
          <div class="py-2 px-4">
            <img
              src="/logos/kold.png"
              loading="lazy"
              alt="logo KOLD News 13"/>
          </div>

          <div class="py-2 px-4">
            <img
              src="/logos/kvoa.png"
              loading="lazy"
              alt="logo KVOA News"
            />
          </div>
          <div class="py-2 px-4">
            <img
              src="/logos/kfmb.png"
              
              loading="lazy"
              alt="logo KFMB News"
            />
          </div>
          <div class="py-2 px-4">
            <img
              src="/logos/kgun.png"
      
              loading="lazy"
              alt="logo KGUN News"
            />
          </div>
       
       
        </div>
      </div>
    </div>
  </div>
                                      