---

import { CollectionEntry, getCollection } from "astro:content";

type Props = {
  posts: CollectionEntry<"posts">[];
};

const { posts } = Astro.props;

const postList = await(getCollection("posts"));

---



    {postList.map((p) => {
      <article>
        <img src={`/img/${p.slug}`}/>
        <h2>{p.data.title}</h2>
        <p>{p.data.description}</p>
        <a href={`/posts/${p.slug}`} class="btn">Read Post</a>
      </article>
        
      })}

