---


const { tags } = Astro.props;

interface Props {
  tags: string[];
}
---

<div class="flex flex-wrap gap-2">
  {tags.map((tag) => (
   <span class=""><a href={'/bylines/tag/' + tag}>#{(tag)}</a></span>
  ))}
 </div>